
{% load bootstrap5 %}


<!DOCTYPE html>
<html lang="en">
    <!-- Head section for information thats not visible !-->
<head>
    <meta charset="UTF-8">
    <!-- Informs device to set viewport to its own width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Author of the web page !-->
    <meta name="author" content="Bayarbat" />
    <!-- Description of the web page !-->
    <meta name="description" content="Elearning website for physics!">
    <base href="/">
    <!-- Inform user of current page within site structure: shown on web page's tab -->
    <title>EPhysics</title>

</head>

<body>

{% if user.is_authenticated %}
<strong>Hello {{user.username}}  </strong>
<a href="../logout/">Logout</a>
{% endif %}
    

{% block content %}
{% endblock %}

</body>


</html>
