{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
    <!-- Head section for information thats not visible !-->
<head>
    <meta charset="UTF-8">
    <!-- Informs device to set viewport to its own width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Author of the web page !-->
    <meta name="author" content="Bayarbat" />
    <!-- Description of the web page !-->
    <meta name="description" content="Elearning website for physics!">
    <!-- Include markup styling file -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <base href="/">
    <!-- Inform user of current page within site structure: shown on web page's tab -->
    <title>EPhysics</title>

</head>

<body>

{% if user.is_authenticated %}

<!-- Referenced from https://getbootstrap.com/docs/5.0/components/navbar/ !-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-warning" style="font-size: 150%" href="#">EPhysics</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav nav-fill w-100">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../courses/">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../profile/">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../users/">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../logout/">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- Reference ends !-->
{% endif %}

{% for msg in messages %}
    {{msg}}
{% endfor %}

{% block content %}
{% endblock %}

</body>


</html>
