{% extends "./base.html" %}



{% block content %}
<div class="content">
        <h1> Courses </h1>
        {% for course in courses %}
                <!-- Referenced and modified from https://getbootstrap.com/docs/5.0/components/card/ !-->
                <div class="card " style="width: 90%;margin:auto; border-radius: 15px;">
                        <div class="card-body">
                        <h5 class="card-title">{{course.title}}</h5>
                        <div class="row">
                                <div class="col">
                                  <!-- Left-aligned header -->
                                  <h6 class="card-subtitle mb-2 text-muted">Created: {{course.created}}</h6>
                                </div>
                                <div class="col text-end">
                                  <!-- Right-aligned header -->
                                  <h6 class="card-subtitle mb-2 text-muted">Last Updated: {{course.modified}}</h6>
                                </div>
                        </div>
                        <p class="card-text">Description: {{course.description}}</p>
                        <a href="#" class="btn btn-info  float-end" style="margin-left: 10px;">Go To Course</a>
                        </div>
                </div>
        {% endfor %}
</div>
{% endblock %}