{% extends "./base.html" %}



{% block content %}
<div class="content">
        <div class="course-banner">
                <div class="row">
                        <div class="col-8">
                                <h2 class="display-2 text-light">{{course.title}}</h2>
                                <h3 class="text-light">{{course.description}}</h3>
                                <h4 class="text-light">Created By: 
                                        <text class="text-warning">
                                                {{course.teacher.first_name}} {{course.teacher.last_name}}
                                        </text>
                                </h4>
                        </div>
                        {% if request.user.appuser.is_student %}
                        <div class="col-4">
                                {% if is_enrolled %}
                                <form method="post" action="/leave_course/{{course.id}}">
                                        {% csrf_token %}
                                        <input type="hidden" name="user" value={{user.username}} />
                                        <button type="submit" class="float-end btn btn-danger btn-xlg active" style="margin-right: 10%; margin-top: 20%;">Leave</button>
                                </form>
                                {% else %}
                                <form method="post" action="/enroll_course/{{course.id}}">
                                        {% csrf_token %}
                                        <input type="hidden" name="user" value={{user.username}} />
                                        <button type="submit" class="float-end btn btn-warning btn-xlg active" style="margin-right: 10%; margin-top: 20%;">Enroll</button>
                                </form>
                                {% endif %}  
                        </div>
                        {% endif %}
                </div>
        </div>

        <div class="course-content">
                <div class="row">
                        <div class="col-8 border-end border-primary border-2" >
                                <div class="course-post">
                                        <h3>Course content</p>
                                </div>
                        </div>
                        <div class="col-4">
                                <div class="course-deadline">
                                        <h3>Important dates</p>
                                </div>
                        </div>
                </div>
        </div>
        
</div>
{% endblock %}