{% extends "./base.html" %}



{% block content %}
<div class="content">
        <div class="course-banner">
                <div class="row">
                        <div class="col-8">
                                <h2 class="display-2 text-light">{{course.title}}</h2>
                                <h5 class="text-light">{{course.description}}</h3>
                                <h5 class="text-light">Created By: 
                                        <text class="text-warning">
                                                {{course.teacher.first_name}} {{course.teacher.last_name}}
                                        </text>
                                </h4>
                        </div>
                        {% if request.user.appuser.is_student %}
                        <div class="col-4">
                                {% if is_enrolled %}
                                <form method="post" action="/leave_course/{{course.id}}">
                                        {% csrf_token %}
                                        <input type="hidden" name="user" value={{user.username}} />
                                        <button type="submit" class="float-end btn btn-danger btn-xlg active" style="margin-right: 10%; margin-top: 20%;">Leave</button>
                                </form>
                                {% else %}
                                <form method="post" action="/enroll_course/{{course.id}}">
                                        {% csrf_token %}
                                        <input type="hidden" name="user" value={{user.username}} />
                                        <button type="submit" class="float-end btn btn-warning btn-xlg active" style="margin-right: 10%; margin-top: 20%;">Enroll</button>
                                </form>
                                {% endif %}  
                        </div>
                        {% else %}
                        <div class="col-4">
                                {% if request.user.appuser == course.teacher %}
                                <!-- Button trigger modal -->
                                <button type="button" class="float-end btn btn-danger btn-xlg active" style="margin-right: 10%; margin-top: 20%;" data-bs-toggle="modal" data-bs-target="#deleteConfirmation">
                                        Delete Course
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                        <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
                                                                <button type="button" class="close" data-bs-dismiss="modal"
                                                                        aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                </button>
                                                        </div>
                                                        <div class="modal-body">
                                                                Course {{course}} will be deleted permanently. This action is irreverisble.
                                                                Delete the course? 
                                                        </div>
                                                        <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close</button>
                                                                <form method="post" action="/delete_course/{{course.id}}">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="user" value={{user.username}} /> 
                                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                                </form>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                {% endif %}
                        </div>
                        {% endif %}
                </div>
        </div>

        <div class="course-content">
                <div class="row" style="min-height: 50%;">
                        <div class="col-8 border-end border-primary border-2" >
                                <div class="course-post">
                                        <h3>Course content</p>
                                        {% if request.user.appuser == course.teacher %}
                                        <a class="btn btn-info btn-lg active" style="width: 90%;" href="/create_post/{{course.id}}" role="button">Create Post</a>       
                                        {% endif %}
                                        {% for post in posts %}
                                        <div class="course-container">
                                                <h4>
                                                        {{post.title}}
                                                        <a class="btn btn-danger btn-sm active float-end" href="/delete_post/{{post.id}}" role="button">Delete Post</a>
                                                </h4>
                                                <text>{{post.content}}</text>
                                                {% if post.image %}
                                                        <img src="{{post.image.url}}">
                                                {% endif %}
                                                <p>
                                                        {% if post.file %}
                                                        <a href="{{post.file.url}}" download>{{post.file}}</a>
                                                        {% endif %}
                                                </p>
                                               
                                        </div>
                                        {% endfor %}
                                </div>
                        </div>
                        <div class="col-4">
                                <div class="course-deadline">
                                        <h3>Important dates</h3>
                                        {% if request.user.appuser == course.teacher %}
                                        <div class="deadline-creator" style="margin-bottom: 10px;">
                                                <form method="post" action="/create_deadline/{{course.id}}">
                                                        {% csrf_token %}
                                                        <p style="width: 90%; font-size: medium; text-align: center;">Create new deadline</p>
                                                        {{deadline_form.title}}
                                                        <label style="font-size: medium;">
                                                                {{deadline_form.due_date.label_tag}}
                                                        </label>
                                                        {{deadline_form.due_date}}
                                                        <input type="hidden" name="user" value={{user.username}} />
                                                        <button type="submit" class="btn btn-info btn-sm active" style="width: 90%; margin-top: 15px;">Create Deadline</button>
                                                </form>
                                        </div>
                                        {% endif %}
                                        {% for deadline in deadlines %}
                                        <div class="course-container">
                                                <p> Task: {{deadline.title}}
                                                        <text class="float-end">
                                                                Due by: {{deadline.due_date}}
                                                        </text>
                                                </p>
                                                {% if request.user.appuser == course.teacher %}
                                                        <a class="btn btn-danger btn-sm active" style="width: 90%;" href="/delete_deadline/{{deadline.id}}" role="button">Delete deadline</a>
                                                {% endif %}
                                        </div>
                                        {% endfor %}
                                </div>
                        </div>
                </div>
        </div>
        
</div>
{% endblock %}